<!-- Module info-->
<div class="row">
    <div class="col">
        <h1 *ngIf="module">{{module.name}}</h1>
    </div>
</div>

<!-- Module components-->
<div class="row">
    <div class="col">
        <h2 *ngIf="module">{{module.name}} has {{module.components.length}} components</h2>
    </div>
</div>

<!-- Filtering -->
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" />
</mat-form-field>

<!-- Component table-->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.toUpperCase().replace("_", " ")}} </th>
        <td mat-cell *matCellDef="let component">{{component[column]}}</td>
    </ng-container>

    <!-- Expanded content -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let component" [attr.colspan]="columns.length">
            <div class="component-detail" [@detailExpand]="component == expandedComponent ? 'expanded' : 'collapsed'">
                <ul>
                    <li>Usage: {{component.usage_type}}</li>
                    <li>Attribute value 1: {{component.attr_value1}}</li>
                    <li>Attribute value 2: {{component.attr_value2}}</li>
                    <li>Attribute value 3: {{component.attr_value3}}</li>
                    <li>Date: {{component.date}}</li>
                    <li>Comment 1: {{component.comment_one}}</li>
                    <li>Comment 2: {{component.comment_two}}</li>
                </ul>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let component; columns: columns;"
        class="component-row" [class.expanded-row]="expandedComponent === component"
        (click)="expandedComponent = expandedComponent === component ? null : component">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>

<!-- Add components-->
<div class="row" *ngIf="!edit">
    <div class="col">
        <button (click)="onEdit()" class="btn btn-link btn-sm">Add components to module</button>
    </div>
</div>

<div *ngIf="edit">
    <button class="btn btn-sm btn-link" (click)="onEdit()">Cancel</button>
    <app-components [modulename]="module.name"></app-components>
</div>

<!-- Go back -->
<div class="row">
    <div class="col">
        <button (click)="goBack()" class="btn btn-link btn-sm">Back to modules</button>
    </div>
</div>