<div>
    <h1 class="mat-display-3">Modules</h1>
</div>

<!-- Filtering and options -->
<div *ngIf="!compareSubmitted">
    <div class="row">
        <mat-form-field class="col-md-11">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" />
        </mat-form-field>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options" class="col-md-1">
            <mat-icon>more_horizontal</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onCompareMode(false)" *ngIf="!compareMode">
                <span>Compare Modules</span>
            </button>
            <button mat-menu-item disabled *ngIf="compareMode">
                <span>Compare Modules</span>
            </button>
            <button mat-menu-item routerLink="/insert">
                <span>Add a Module</span>
            </button>
        </mat-menu>
    </div>


    <!-- Module table -->
    <div class="mat-elevation-z8 module-table">
        <div class="table-header" *ngIf="compareMode">
            <h2 class="mat-h2">Select two Modules to compare</h2>
        </div>
        
        
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

            <!-- Checkbox column for compare selection-->
            <ng-container *ngIf="compareMode" matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef> select </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox [checked]="selection.isSelected(row)"
                        (change)="onSelect(row)"
                        [disabled]="!selection.isSelected(row) && disabled"
                        (change)="$event ? selection.toggle(row) : null">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Other columns -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
                <td mat-cell *matCellDef="let module" routerLink="/modules/{{module.name}}">{{module.name}}</td>
            </ng-container>

            <ng-container matColumnDef="components">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> components </th>
                <td mat-cell *matCellDef="let module" routerLink="/modules/{{module.name}}">{{module.components.length}}</td>
            </ng-container>

            <!-- Expanded content -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let module" [attr.colspan]="columns.length">
                    <div class="module-detail" [@detailExpand]="module == expandedModule ? 'expanded' : 'collapsed'">
                        <!-- TODO: Add expanded content here and remove router link from above-->
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let module; columns: columns;"
                class="module-row" [class.expanded-row]="expandedModule === module"
                (click)="expandedModule = expandedModule === module ? null : module">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
        <mat-paginator [length]="100"
                    [pageSize]="10"
                    [pageSizeOptions]="[10, 20, 50, 100]"
                    showFirstLastButtons>
        </mat-paginator>
        <div class="button-group" *ngIf="compareMode">
            <button class="col-md-2" mat-stroked-button color="primary" (click)="onCompareMode(true)">Cancel</button>
            <button class="col-md-2" mat-raised-button color="primary" (click)="onCompareSubmit()" *ngIf="modulesToCompare.length == 2">Compare</button>
            <button class="col-md-2" mat-raised-button disabled *ngIf="modulesToCompare.length < 2">Compare</button>
        </div>
        
        
    </div>
</div>

<div *ngIf="compareSubmitted">
    <button mat-button color="primary" (click)="onCancel()">Back to Modules</button>
    <app-compare [modulesToCompare]="modulesToCompare"></app-compare>
</div>