<div>
    <h2>Modules</h2>
</div>
<!--
<table class="table table-sm table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let module of modules" [ngValue]="module">
            <td routerLink="/modules/{{module.name}}">{{module.name}}</td>
        </tr>
    </tbody>
</table>
-->

<!-- Filtering -->
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" />
</mat-form-field>

<!-- Module table -->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <td mat-cell *matCellDef="let module" routerLink="/modules/{{module.name}}"><span *ngIf="column != 'components'">{{module[column]}}</span><span *ngIf="column == 'components'">{{module[column].length}}</span></td>
    </ng-container>

    <!-- Expanded content -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let module" [attr.colspan]="columns.length">
            <div class="module-detail" [@detailExpand]="module == expandedModule ? 'expanded' : 'collapsed'">
                <!-- TODO: Add expanded content here and remove router link from above-->
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let module; columns: columns;"
        class="module-row" [class.expanded-row]="expandedModule === module"
        (click)="expandedModule = expandedModule === module ? null : module">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>