table {
  width: 100%;
}

.module-table {
  margin-bottom: 50px;
}
  
tr.detail-row {
  height: 0;
}

tr.module-row:not(.expanded-row):hover {
  background: #f5f5f5;
}

tr.module-row:not(.expanded-row):active {
  background: #efefef;
}

.module-row td {
  border-bottom-width: 0;
}

.module-detail {
  overflow: hidden;
  display: flex;
}

.mat-form-field {
  font-size: 14px;
}

.mat-column-select {
  overflow: initial;
}

.table-header {
  padding: 20px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.button-group > button {
  margin: 2px;
}

.actions {
  display: flex;
  flex-direction: column;
}