<h1>Comparing {{modulesToCompare[0]}} and {{modulesToCompare[1]}}</h1>
<h2>Same components</h2>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="same" matSort>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
            <td mat-cell *matCellDef="let component"> {{component[0]}} </td>
        </ng-container>

        <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> version </th>
            <td mat-cell *matCellDef="let component"> {{component[1]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let component; columns: columns;" class="component-row"></tr>
    </table>
</div>

<h2>Exclusive to {{modulesToCompare[0]}}</h2>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="exFirst" matSort>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
            <td mat-cell *matCellDef="let component"> {{component[0]}} </td>
        </ng-container>

        <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> version </th>
            <td mat-cell *matCellDef="let component"> {{component[1]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let component; columns: columns;" class="component-row"></tr>
    </table>
</div>

<h2>Exclusive to {{modulesToCompare[1]}}</h2>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="exSecond" matSort>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
            <td mat-cell *matCellDef="let component"> {{component[0]}} </td>
        </ng-container>

        <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> version </th>
            <td mat-cell *matCellDef="let component"> {{component[1]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let component; columns: columns;" class="component-row"></tr>
    </table>
</div>