<!-- Header -->
<div class="row">
    <div class="col">
        <h1 class="mat-display-3">Components</h1>
    </div>
</div>

<div *ngIf="message">{{message}}</div>

<!-- Filtering -->
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" />
</mat-form-field>

<!-- Component table -->
<div class="mat-elevation-z8 component-table">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columns">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
            <td mat-cell *matCellDef="let component">
                <span *ngIf="column != 'actions'">{{component[column]}}</span>
                <span *ngIf="column == 'actions'"><button mat-button color="warn" (click)="onDelete(component.name, component.version)">Delete</button></span>
            </td>
        </ng-container>

        <!-- Expanded content -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let component" [attr.colspan]="columns.length">
                <div class="component-detail" [@detailExpand]="component == expandedComponent ? 'expanded' : 'collapsed'">
                    <!-- Expanded content can be added here -->
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let component; columns: columns;"
            class="component-row" [class.expanded-row]="expandedComponent === component"
            (click)="expandedComponent = expandedComponent === component ? null : component">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
    <mat-paginator [length]="100"
                        [pageSize]="10"
                        [pageSizeOptions]="[10, 20, 50, 100]"
                        showFirstLastButtons>
    </mat-paginator>
</div>
<button mat-button color="primary" routerLink="/insert-component">Add Components</button>