<div>
    <h1 class="mat-display-3">New Component</h1>
</div>

<button mat-button color="primary" routerLink="/components">Back to Components</button>
<div *ngIf="message">{{message}}</div>

<mat-card>
    <form [formGroup]="component" (ngSubmit)="onSubmit()">
        <mat-form-field [floatLabel]="options.value.floatLabel">
            <input matInput placeholder="Name" type="text" formControlName="name" required />
        </mat-form-field>
        <mat-form-field [floatLabel]="options.value.floatLabel">
            <input matInput placeholder="Url" type="text" formControlName="url">
        </mat-form-field>
        <mat-form-field [floatLabel]="options.value.floatLabel">
            <input matInput placeholder="Version" type="text" formControlName="version" required />
        </mat-form-field>
        <mat-form-field [floatLabel]="options.value.floatLabel">
            <input matInput placeholder="License" type="text" formControlName="license" />
        </mat-form-field>
        <mat-form-field [floatLabel]="options.value.floatLabel">
            <input matInput placeholder="Copyright" type="text" formControlName="copyright" />
        </mat-form-field>
        <form [formGroup]="options">
            <mat-checkbox formControlName="subComponent" id="sub">Sub-Component</mat-checkbox>
        </form>
        <button mat-button color="primary" type="submit" [disabled]="!component.valid">Submit</button>
    </form>
</mat-card>