<div>
    <h2>Releases</h2>
</div>

<form #release="ngForm" (ngSubmit)="onSubmit(release.value)">
    <div class="form-group mb-2">
        <label for="release" class="form-label">Release</label>
        <select class="form-control" id="release" ngModel name="releaseId">
            <option *ngFor="let release of releases" [ngValue]="release.id">{{release.name}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success mb-2">Valitse</button>
</form>
<app-release-detail [release]="selectedRelease"></app-release-detail>
